/* 
 * Default settings for config.
 * 
 * @package sasskit
 *
 *
 * You can set up some variables here.
 * All the rest has to be done in files of '0_config' folder
 *
 */



// Prefixes
$utilities-prefix :                 'u-' !default;
$state-prefix:                      'is-' !default;
$javascript-hooks-prefix:           'js-' !default;


/* 
 * MINIMAL SETTINGS
 */

// Font Families
$paragraphs:                      '';
$titles:                          '';
$nav:                             '';
$alt:                             '';
$quote:                           '';

// Font-sizes
$font_size_base:                  16px !default;












