/* 
 * Default settings for config.
 * 
 * @package sasskit
 */


// Prefixes
$utilities-prefix :                 'u-' !default;
$state-prefix:                      'is-' !default;
$javascript-hooks-prefix:           'js-' !default;


// Grid
// -------------------------
$max_width:                         980px;
$cols:                              12 !default;
$gutter:                            2% !default;
        
$mobile_first:                      true !default;
$minimal_breakpoint:                320px !default;
$medium_breakpoint:                 760px !default;
$large_breakpoint:                  980px !default;
$wide_breakpoint:                   1200px !default;


// Grays
// -------------------------
$black:              	   						#000 !default;
$gray_darker:            						#222 !default;
$gray_dark:              						#333 !default;
$gray:                 	 						#555 !default;
$gray_light:             						#999 !default;
$gray_lighter:           						#eee !default;
$white:               	 						#fff !default;

// Colors of Project
// -------------------------

$colors_map: (
  text: (
    tone: gray,
    hexa: #474747,
  ), 
  quotes: (
    tone: red,
    hexa: #F19F35,
  ), 
  links: (
    tone: else,
    hexa: #57BC8A,
  ),
  links_hover: (
    tone: else, 
    hexa: #570C8A,
  ),
  buttons: (
    tone: else,    
    hexa: #036564,
  ),
  body_background: (
    tone: else,
    hexa: #fff,
  ),
) !default;

// Colors functions
@each $color in $colors_map {
  $i: index($colors_map, $color);

  $_type: nth($color, 1);
  $_values: nth($color, 2);

  .color-#{$i} .color-square { 
    background-color: map-get($_values, hexa);
  }

  .color-#{$i} .color-tone:before {
    content: '#{map-get($_values, tone)}';
  }

  .color-#{$i} .color-name:before {
    content: '#{map-get($_values, hexa)}';
  }

  .color-#{$i} .color-use:before {
    content: '#{$_type}';
  }

  .color_#{$_type} {
    color: map-get($_values, tone);
  } 
}




// Basic colors
// -------------------------
$color_text:           							$gray_dark !default;
$color_link:            						$gray !default;
$color_link_hover:      						$gray_dark;
$color_quote:												$gray_light;
$color_body_background: 						$white;


// Typography
// -------------------------

$typos_map: (
  p: (
    use: "This is the body copy. ",
    font-family: "Arial, sans-serif",
    font-size: 16px,
  ), 
  quote: (
    use: "A quote very ",
    font-family: "Arial, sans-serif",
    font-size: 16px,
  ),
  h1: (
    use: "Headings 1",
    font-family: "Arial, sans-serif",
    font-size: 3em,
  ),
  h2: (
    use: "Headings 2",
    font-family: "Arial, sans-serif",
    font-size: 2em,
  ),
  h3: (
    use: "Headings 3",
    font-family: "Arial, sans-serif",
    font-size: 1.6em,
  ),
  h4: (
    use: "Headings 4",
    font-family: "Arial, sans-serif",
    font-size: 1em,
  ),
  h5: (
    use: "Headings 5",
    font-family: "Arial, sans-serif",
    font-size: 1em,
  ),
  h6: (
    use: "Headings 6",
    font-family: "Arial, sans-serif",
    font-size: 16px,
  ),    
) !default;


// Typos functions
@each $typo in $typos_map {
  $i: index($typos_map, $typo);

  $_type: nth($typo, 1);
  $_values: nth($typo, 2);

  #{$_type} {
    font-family: #{map-get($_values, font-family)} !important;
    font-size: #{map-get($_values, font-size)} !important;

    &:before {
      content: '#{map-get($_values, use)}';
    }

    & + span:before {
      content: '#{map-get($_values, font-family)} / #{map-get($_values, font-size)}';
    }
  }


}



$font_family_sans:        					Arial, Helvetica, sans-serif !default;
$font_family_serif:       					Georgia, Times New Roman, serif !default;
$font_family_mono:        					Menlo, Consolas, monospace !default;		

$font_family_paragraph:             $paragraphs, $font_family_serif;
$font_family_title:                 $titles, $font_family_sans;
$font_family_nav:                   $nav, $font_family_serif;
$font_family_alt:                   $alt, $font_family_serif;

$font_size_base:          					16px !default;
$line_height_ratio:									1.375 !default;
$base_line_height:        					$font_size_base * $line_height_ratio !default; 

$font_size_large:         					$font_size_base * 1.25 !default;
$font_size_small:        						$font_size_base * 0.85 !default;
$font_size_mini:       						  $font_size_base * 0.75 !default;



// Forms
// -------------------------

$input_border_radius:             	0 !default;
$form_actions_background:        		$gray !default;

$input_disabled_background:					$gray_lighter !default;
$input_border:											1px solid $black !default;
$input_background:               		$white !default;
$input_height:                  		$base_line_height * 1.5;

$placeholder_text:         					$gray_light !default;



// Navigation
// -------------------------

$navbar_background:									$black !default;
$navbar_border:              				darken($navbar_background, 12%) !default;
$navbar_height:              				$base_line_height !default;

$navbar_collapse_width:           	979px !default;
$navbar_collapse_desktop_width:   	$navbar_collapse_width + 1;

$navbar_height:                    	40px !default;
$navbar_backgroundHighlight:       	#ffffff !default;

$navbar_text:                     	#777 !default;
$navbar_link_color:                 #777 !default;
$navbar_link_color_hover:           $gray_dark !default;
$navbar_link_color_active:          $gray !default;
$navbar_link_background_hover:      transparent !default;
$navbar_link_background_active:     darken($navbar_background, 5%) !default;

$navbar_brand_color:                $navbar-link_color !default;



// Tables
// -------------------------
$table_background:                  transparent !default;
$table_background_accent:           $gray_light !default; // for striping
$table_background_hover:            $gray_dark !default;
$table_border:                      $gray_dark !default;



