/* 
 * Project settings.
 * There is no default settings for font_families
 * 
 * @package sassykit
 */


// Prefixes
// $utilities-prefix :            '';
// $state-prefix:                 '';
// $javascript-hooks-prefix:      '';


// Grid
// -------------------------
// $main_width:                   980px;
// $cols:                         12;
// $gutter:                       2%;
          
// $mobile_first:                 true;
// $minimal_breakpoint:           760px;
// $medium_breakpoint:            760px;
// $large_breakpoint:             980px;
// $wide_breakpoint:              1200px;



// Basic colors
// -------------------------
// $color_text:           	      ;
// $color_link:            		    ;
// $color_link_hover:      		    ;
// $color_quote:							    ;
// $color_body_background: 		    ;


// Typography
// -------------------------
$paragraphs:                      '';
$titles:                          '';
$nav:                             '';
$alt:                             '';
  
// $font_size_base:          		   16px;
// $line_height_ratio:					   1.375;
// $base_line_height:        		   $font_size_base * $line_height_ratio !default; 



// Navigation
// -------------------------

// $navbar_background:									;
// $navbar_border:              				darken($navbar_background, 12%) !default;
// $navbar_height:              				$base_line_height !default;

// $navbar_height:                    	40px !default;
// $navbar_backgroundHighlight:       	#ffffff !default;

// $navbar_text:                     	  #777 !default;
// $navbar_link_color:                  #777 !default;
// $navbar_link_color_hover:            $gray_dark !default;
// $navbar_link_color_active:           $gray !default;
// $navbar_link_background_hover:       transparent !default;
// $navbar_link_background_active:      darken($navbar_background, 5%) !default;

// $navbar_brand_color:                 $navbar-link_color !default;



// Forms
// -------------------------

// $input_border_radius:                 0 !default;
// $form_actions_background:             $blue !default;

// $input_disabled_background:           $gray_lighter !default;
// $input_border:                        1px solid $black !default;
// $input_background:                    $white !default;
// $input_height:                        $base_line_height * 1.5;

// $placeholder_text:                    $gray_light !default;


