/* 
 * Grid system
 * 
 * @package sasskit
 */



$one_col: (100% - ($gutter * ($cols - 1))) / $cols;


/* 
 * Mixins for the grid to be 
 */
@mixin cols($num) {
    @include box-sizing();
    width: ($one_col * $num) + ($gutter * ($num - 1));
    border: 1px solid;
}
 
@mixin sub_cols($num_child, $num_parent) {
    $parent_size: ($one_col * $num_parent) + ($gutter * ($num_parent - 1));
    $child_size: ($one_col * $num_child) + ($gutter * ($num_child - 1));
    margin-left: ($gutter / $parent_size) * 100%;
    width: ($child_size / $parent_size) * 100%;
}

@mixin parse-columns($suffix: ''){
    .row {
        @for $i from 1 through $cols {
            .#{$suffix}-#{$i}col {
                @include cols($i);
                float: left;
                margin-left: $gutter;

                @for $j from 1 through ($i - 1) {
                    .#{$suffix}-#{$j}col {
                        @include sub_cols($j, $i);
                    }
                }
            }
            .#{$suffix}-#{$i}col-push { left: $i / $cols * 100%; }
            .#{$suffix}-#{$i}col-pull { right: $i / $cols * 100%; }
        }
        .#{$suffix}-hide { display: none; }
        .#{$suffix}-show { display: block; }
        .#{$suffix}-first { margin-left: 0 !important; }
        .#{$suffix}-last { float: right !important; }
    }
}

.row {
    @include clearfix;

    > :first-child, 
    .row > :first-child { 
        margin-left: 0 !important;
    }
}



/* 
 * COLUMNS & NESTED COLUMNS
 */

@if $mobile_first {
    @include at-least(minimal) {
        @include parse-columns('s');
    }
    @include at-least(medium) {
        @include parse-columns('m');
    }
    @include at-least(large) {
        @include parse-columns('l');
    }
    @include at-least(wide) {
        @include parse-columns('w');
    }
}
@else {
    @include parse-columns('w');

    @include up-to(wide) {
        @include parse-columns('l');
    }
    @include up-to(large) {
        @include parse-columns('m');
    }
    @include up-to(medium) {
        @include parse-columns('s');
    }
}
