/* 
 * Placeholders & utility classes
 * 
 * @package sasskit
 */

/* Block things */

.#{$utilities-prefix}left {
  float: left !important; }

.#{$utilities-prefix}right {
  float: right !important; }

.#{$utilities-prefix}clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.#{$utilities-prefix}hide {
  display: none; }

.#{$utilities-prefix}antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.#{$utilities-prefix}plain-width {
    @include box-sizing(border);
    width:100%; }

.#{$utilities-prefix}fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99; }
  .fixed.expanded:not(.top-bar) {
    overflow-y: auto;
    height: auto;
    width: 100%;
    max-height: 100%; }
    .fixed.expanded:not(.top-bar) .title-area {
      position: fixed;
      width: 100%;
      z-index: 99; }
    .fixed.expanded:not(.top-bar) .top-bar-section {
      z-index: 98;
      margin-top: 45px; }


.#{$utilities-prefix}bordered { 
  border: 1px solid #000;
}


/* JS things */

.#{$javascript-hooks-prefix}generated {
  display: block; }


/* Text things */

.#{$utilities-prefix}text-left {
  text-align: left !important; }

.#{$utilities-prefix}text-right {
  text-align: right !important; }

.#{$utilities-prefix}text-center {
  text-align: center !important; }

.#{$utilities-prefix}text-justify {
  text-align: justify !important; }
